.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 20px;
    border-bottom: 1px solid white;
    width: 100%;
  }
  
.navbar .primary, .navbar .secondary {
  appearance: none;
  border-radius: 128px;
  height: 40px;
  padding: 0 16px;
  border: none;
  border: 1px solid transparent;
  transition: background 0.2s, color 0.2s, border-color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

.navbar .primary {
  background: var(--foreground);
  color: var(--background);
  gap: 8px;
}

.navbar .secondary {
  border-color: var(--gray-alpha-200);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.active {
  color: #3A53A4 !important; 
  font-weight: 600 !important;
}

@media (hover: hover) and (pointer: fine) {
    .navbar .primary:hover {
        background-color: #D9DFF2;
        border-color: transparent;
    }

    .navbar .secondary:hover {
        background-color: var(--button-secondary-hover);
        border-color: transparent;
    }
}

@media (max-width: 600px) { 
    .navbar {
      flex-direction: column;
    }
  
    .navbar .primary, .navbar .secondary {
      font-size: 14px;
      height: 40px;
      padding: 0 16px;
    }
  
    .navbar .secondary {
      min-width: auto;
    }
  }

